.box1{
    background-color: rgba(166, 136, 214, 0.075);
    margin: 20px;
    padding: 12px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
}